<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>DiagnosticDataTypePreference</key>
        <string>ZeroDiagnosticData</string>
        <key>OfficeExperiencesAnalyzingContentPreference</key>
        <false />
        <key>OfficeExperiencesDownloadingContentPreference</key>
        <false />
        <key>OptionalConnectedExperiencesPreference</key>
        <false />
        <key>ConnectedOfficeExperiencesPreference</key>
        <false />
        <key>OfficeWebAddinDisableOMEXCatalog</key>
        <true />
        <key>OfficeWebAddinDisableAllCatalogs</key>
        <true />
        <key>VisualBasicMacroExecutionState</key>
        <string>DisabledWithWarnings</string>
        <key>VBAObjectModelIsTrusted</key>
        <false />
        <key>AllowVisualBasicToBindToSystem</key>
        <false />
        <key>DisableVisualBasicExternalDylibs</key>
        <true />
        <key>DisableVisualBasicToBindToPopen</key>
        <true />
        <key>DisableVisualBasicMacScript</key>
        <true />
        <key>VisualBasicEntirelyDisabled</key>
        <true />
        <key>OfficeAutoSignIn</key>
        <false />
        <key>ShowWhatsNewOnLaunch</key>
        <false />
        <key>DisableCloudFonts</key>
        <true />
        <key>InstallTeams</key>
        <false />
        <key>InstallDefender</key>
        <false />
        <key>InstallCopilot</key>
        <false />
        <key>InstallAutoUpdate</key>
        <true />
    </dict>
</plist>